[submodule "nccl"]
	path = nccl
	url = https://github.com/NVIDIA/nccl.git

[submodule "experiments/dlrm"]
	path = experiments/dlrm
	url = https://github.com/HKUST-SING/herald.git
[submodule "experiments/serving/SwiftTransformer"]
	path = experiments/serving/SwiftTransformer
	url = https://github.com/LLMServe/SwiftTransformer.git
[submodule "experiments/ep/Megatron-DeepSpeed"]
	path = experiments/ep/Megatron-DeepSpeed
	url = https://github.com/deepspeedai/Megatron-DeepSpeed.git
